@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Lora:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3e3e3e; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect width="100" height="100" fill="%233e3e3e"/><g fill="%234b4b4b" opacity="0.3"><rect x="0" y="0" width="50" height="50"/><rect x="50" y="50" width="50" height="50"/></g></svg>'); /* Prosta imitacja kamienia */
    font-family: 'Lora', serif; 
    color: #f0e68c; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}


.game-container{
    display: flex;
    align-items: center;
    transform: perspective(1000px) rotateX(2deg);
}


.equipment-panel{
    width: 300px;
    height: 800px;
    background-color: #5d4037; 
    border: 10px solid #2e1d1d; 
    box-shadow:  10px 20px rgba(0, 0, 0, 0.7), inset 0 0 15px rgba(0, 0, 0, 0.9); 
    padding: 15px;
    margin-right: 30px;
    border-radius: 5px;
}

.panel-header{
    font-family: 'MedievalSharp', cursive; 
    text-align: center;
    color: #ffcc00; 
    text-shadow: 2px 2px #3e3e3e;
    margin-bottom: 20px;
    border-bottom: 3px double #a0522d; 
    padding-bottom: 10px;
    font-size: 1.8em;
}

.itemSlot{
    margin: 15px auto;
    height: 60px;
    line-height: 60px;
    font-size: 1.1em;
    background-color: #8b4513; 
    color: #fff;
    text-align: center;
    border: 3px outset #a0522d; 
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.itemSlot:hover{
    background-color: #a0522d;
    transform: translateY(-2px); 
}


.arena-wrapper{
    position: relative;
}


.Arena{
    position: relative;
    background: repeating-linear-gradient(
        45deg,
        #8b4513,
        #8b4513 10px,
        #a0522d 10px,
        #a0522d 20px
    ); 
    
    border: solid 30px #4b4b4b; 
    box-shadow:  0 20px 40px rgba(0, 0, 0, 0.9), inset 0 0 30px rgba(0, 0, 0, 0.9);   
    width: 1200px;
    height: 800px;
    border-radius: 15px; 
    overflow: hidden; 
}


.Player{
    position: absolute; 
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; 
    height: 100px;
    border-radius: 50%;

    background: linear-gradient(145deg, #a0a0a0, #4f4f4f); 
    border: solid 5px #c0392b; 
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4),  0 10px 20px rgba(0, 0, 0, 0.8); 
    
    z-index: 10;
    transition: transform 0.1s ease-out; 
    font-size: 0.9em;
}

.player-label{
    font-family: 'MedievalSharp', cursive;
    font-size: 14px;
    font-weight: normal;
    color: #ffcc00; 
    text-shadow: 1px 1px #000;
    margin-top: 5px;
}