*{
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, sans-serif;
}

.arena-wrapper {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.Arena{
    position: relative;
    background-color: rgb(211, 184, 31);
    border: solid 20px rgb(70, 9, 9);
    box-shadow: inset 10px 15px 20px rgba(0, 0, 0, 0.7); 
    width: 1200px;
    height: 800px;
}

.Player{
    position: absolute; 
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: grey;
    border: solid 2px black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); 
}

.equipment{
    position: absolute; 
    top: 50%;
    left: -14%;
    transform: translate(-50%,-50%); 
    width: 280px;
    height: 800px;
    background-color:rgb(70, 9, 9);
}
